:root {
  --font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #ff8200;
}

h1 {
  color: #ffffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  opacity: 1;
  transition: 0.3s;
}

button:hover {
  opacity: 0.6;
  background-color: grey;
  color: white;
}
